version: '3.9'

services:
  nginx:
    image: nginx:latest
    container_name: nginx2
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - backend
      - frontend
    restart: unless-stopped

  api:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    container_name: dotnet_api2
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8305:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__GestionServiceDB=Server=sqlserver;Database=GestionServiceDB;User=sa;Password=P@sswOrd2025!;
    depends_on:
      - sqlserver
    volumes:
      - ./api:/app
    networks:

      - backend
    restart: unless-stopped

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "5038:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=P@sswOrd2025!
      - MSSQL_PID=Express
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - backend
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis3
    ports:
      - "6379:6379"
    networks:
      - backend
    restart: unless-stopped

networks:
  backend:
  frontend:

volumes:
  sqlserver_data: